# dependencies
node_modules/
.pnp/
.pnp.js

# testing
coverage/

# production
build/
dist/

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific
Thumbs.db
ehthumbs.db

# editor folders
.vscode/
.idea/

# local MongoDB data
dump/

# Optional: render.com or deployment configs
render.yaml
